bin
/build/
/build-*/
/site/
scripts/redis*
cmake-build-debug

tools/builder/src/parser/
sc-memory/sc-memory/scs/scsLexer.*
sc-memory/sc-memory/scs/scsParser.*
sc-memory/sc-memory/scs/*.tokens
*.generated.*

!thirdparty/*/bin/

sc-machine.json
manifest.json
*.user
*.*~

.vscode
__pycache__
.idea