bin
/build/
/build-*/
/site/
scripts/redis*
cmake-build-debug

*.generated.*

*.user
*.*~

.vscode
__pycache__
.idea
.DS_Store

# docs
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.gz
docs/*.log
*.pdf
*.run.xml

/ConanPresets.json
